<?xml version="1.0" encoding="UTF-8" ?>
<!-- xmlns 是xml的命名空间要引入新的 context命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
    <!-- 读取 jdbc.properties 中的内容property-placeholder: 占位符location： 属性文件的位置-->
    <context:property-placeholder location="classpath:config/TacacsConfig.properties"/>
	<!-- 阿里 druid数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<!-- 数据库基本信息配置 -->
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="driverClassName" value="${db.driver}" />
		<property name="filters" value="${db.filters}" />
		<!-- 最大并发连接数 -->
		<property name="maxActive" value="${db.maxActive}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${db.initialSize}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${db.maxWait}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${db.minIdle}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdleTimeMillis}" />
		<!-- <property name="validationQuery" value="${validationQuery}" /> -->
		<property name="testWhileIdle" value="${db.testWhileIdle}" />
		<property name="testOnBorrow" value="${db.testOnBorrow}" />
		<property name="testOnReturn" value="${db.testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="${db.maxOpenPreparedStatements}" />
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="${db.removeAbandoned}" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="${db.removeAbandonedTimeout}" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="${db.logAbandoned}" />
	</bean>
   <!-- 配置mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="mapperLocations"
			value="classpath:com/tacacs/TacacsPlusServer/services/db/${dbType}/*.xml">
		</property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
		<property name="basePackage" value="com.tacacs.TacacsPlusServer.services.db" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>	
	<bean id="loginSession" class="com.tacacs.TacacsPlusServer.cache.LoginSession">
		<property name="timeOut" value="${tacacs.cache.timeout}" />
	</bean>
	<!-- 初始化sever -->
	<bean id="tacacsPlusServer" class="com.tacacs.TacacsPlusServer.server.tacacsPlusServer" init-method="init" destroy-method="destory">
		<property name="port" value="${tacacs.port}" />
	</bean>
	<context:component-scan base-package="com.tacacs.TacacsPlusServer.server"/>
	<context:component-scan base-package="com.tacacs.TacacsPlusServer.services"/>
	
</beans>